openapi: 3.1.0
info:
  contact:
    name: Linkbreakers Support
    url: https://app.linkbreakers.com
  description: This is a documentation of all the APIs of Linkbreakers
  title: Linkbreakers API
  version: 1.46.10
servers:
- url: https://api.linkbreakers.com
security:
- bearerAuth: []
tags:
- description: "Endpoints for managing custom domains in Linkbreakers. These endpoints\
    \ allow you to register, verify, and manage custom domains for your workspace."
  name: Custom Domains
- description: Endpoints for managing directories in Linkbreakers. Directories let
    you organize links and other directories into a hierarchical folder structure.
  name: Directories
- description: Endpoints for managing events in Linkbreakers. These endpoints allow
    you to collect data and list events.
  name: Events
- description: "Endpoints for managing shortened links in Linkbreakers. These endpoints\
    \ allow you to create, retrieve, list, and delete shortened links for your workspace."
  name: Links
- description: "Endpoints for managing media files in Linkbreakers. These endpoints\
    \ allow you to upload, retrieve, list, and delete media files for your workspace."
  name: Media
- description: "Endpoints for managing members in Linkbreakers. These endpoints allow\
    \ you to invite, retrieve, update, and delete members."
  name: Members
- description: "Endpoints for analyzing workspace activity within Linkbreakers, covering\
    \ rolling event totals, audience reach, and calendar heatmaps."
  name: Workspace Metrics
- description: "Endpoints for managing page visual themes. These endpoints allow you\
    \ to create, read, and update themes for canvas, cover, badge, container, typography,\
    \ and interactive elements."
  name: Page Themes
- description: "Endpoints for managing QR Code Designs in Linkbreakers. These endpoints\
    \ allow you to create, retrieve, update, and delete QR Code Designs."
  name: QR Code Designs
- description: "Endpoints for managing QR Code Templates in Linkbreakers. These endpoints\
    \ allow you to create, retrieve, update, and delete QR Code Templates."
  name: QR Code Templates
- description: Endpoints for managing link-level data collection settings in Linkbreakers.
  name: Link Settings
- description: Endpoints for managing tags in Linkbreakers. These endpoints allow
    you to search for tags in a workspace.
  name: Tags
- description: Endpoints for managing time series in Linkbreakers. These endpoints
    allow you to get events time series.
  name: Times Series
- description: "Identify and manage visitors. Accepts system fields like $email, $phone\
    \ and arbitrary key/value attributes."
  name: Visitors
- description: "Endpoints for managing webhooks in Linkbreakers. These endpoints allow\
    \ you to create, list, and delete webhooks for event notifications."
  name: Webhooks
- description: "Endpoints for managing workflow steps in Linkbreakers. Workflow steps\
    \ define the behavior of links, such as redirection destinations and data collection\
    \ flows."
  name: Workflow Steps
- description: "Endpoints for managing workspace tokens in Linkbreakers. These endpoints\
    \ allow you to create, list, and delete workspace tokens for authentication."
  name: Workspace Tokens
- description: Endpoints for managing workspaces in Linkbreakers. These endpoints
    allow you to update and get workspaces.
  name: Workspaces
paths:
  /v1/custom-domains:
    get:
      description: Retrieves the custom domains for your workspace
      operationId: CustomDomainsService_List
      parameters:
      - description: |-
          Filter by the status of the custom domains to list. Optional.

           - STATUS_UNSPECIFIED: The status is not specified
           - STATUS_INACTIVE: The domain is inactive. It was created but not checked yet.
           - STATUS_DOMAIN_PENDING: The domain is pending. Last time it was checked, it was not pointing to the correct Linkbreakers subdomain.
           - STATUS_VERIFICATION_PENDING: The domain is pending verification. Please verify through TXT record.
           - STATUS_CERTIFICATE_PENDING: The domain is pending certificate. The SSL certificate is not yet ready.
           - STATUS_ACTIVE: The domain is fully active
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomDomainsResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List custom domains
      tags:
      - Custom Domains
      x-accepts:
      - application/json
    post:
      description: This endpoint allows users to register a new custom domain that
        can be used with their Linkbreakers workspace.
      operationId: CustomDomainsService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomDomainRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomDomainResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create a custom domain
      tags:
      - Custom Domains
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/custom-domains/{id}:
    delete:
      description: Removes a custom domain from the workspace. This operation cannot
        be undone.
      operationId: CustomDomainsService_Delete
      parameters:
      - description: The ID of the custom domain to delete (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCustomDomainResponse"
          description: Everything worked as expected.
        "204":
          content:
            application/json:
              schema: {}
          description: Custom domain deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a custom domain
      tags:
      - Custom Domains
      x-accepts:
      - application/json
    get:
      description: Retrieves information about a custom domain including its verification
        status and timestamps.
      operationId: CustomDomainsService_Get
      parameters:
      - description: The ID of the custom domain to retrieve (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCustomDomainResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get custom domain details
      tags:
      - Custom Domains
      x-accepts:
      - application/json
    patch:
      description: "Update settings for a custom domain, such as the root destination\
        \ URL."
      operationId: CustomDomainsService_Update
      parameters:
      - description: The ID of the custom domain to update (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomDomainsServiceUpdateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCustomDomainResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a custom domain
      tags:
      - Custom Domains
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/custom-domains/{id}/check:
    post:
      description: Check a custom domain by looking up its DNS records and TLS status.
        This is automatically done when the domain is created. It will update the
        domain status.
      operationId: CustomDomainsService_Check
      parameters:
      - description: The ID of the custom domain to retrieve (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckCustomDomainResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Check a custom domain
      tags:
      - Custom Domains
      x-accepts:
      - application/json
  /v1/custom-domains/{id}/validation_instructions:
    get:
      description: Get the instructions for validating a custom domain. There may
        be a delay before the instructions are available.
      operationId: CustomDomainsService_ValidationInstructions
      parameters:
      - description: The ID of the custom domain to retrieve (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationInstructionsCustomDomainResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get the validation instructions
      tags:
      - Custom Domains
      x-accepts:
      - application/json
  /v1/directories:
    get:
      description: "List directories in the workspace with optional filtering by parent\
        \ directory, search, and pagination."
      operationId: DirectoriesService_List
      parameters:
      - description: The maximum number of directories to return
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |-
          The token for retrieving the next page of results
          If not provided, the first page of results will be returned
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: "Filter directories by parent. When empty, returns root-level\
          \ directories."
        explode: true
        in: query
        name: parentDirectoryId
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Search query to filter directories by name

          Search query to filter directories by name
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          When listing with parent_directory_id, also include root-level directories if true

          When listing with parent_directory_id, also include root-level directories.
        explode: true
        in: query
        name: includeRoot
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          When true, returns all directories recursively regardless of parent filter
          Useful for getting a complete flat list of all directories in the workspace (e.g., for directory pickers)
          When false (default), returns only immediate children based on parent_directory_id

          Return all directories recursively. When true with empty parent_directory_id, returns all directories in workspace. When true with parent_directory_id set, returns all descendants of that directory.
        explode: true
        in: query
        name: recursive
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDirectoriesResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List directories
      tags:
      - Directories
      x-accepts:
      - application/json
    post:
      description: Create a new directory in the workspace. Optionally nest it under
        an existing directory.
      operationId: DirectoriesService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDirectoryRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDirectoryResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create a directory
      tags:
      - Directories
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/directories/{id}:
    delete:
      description: Remove a directory from the workspace. This operation cannot be
        undone. A directory cannot be deleted while it still contains links or child
        directories; move or remove them first.
      operationId: DirectoriesService_Delete
      parameters:
      - description: "The ID of the directory to delete. The directory must be empty\
          \ before deletion; if it still contains links or child directories, the\
          \ request fails."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteDirectoryResponse"
          description: Everything worked as expected.
        "412":
          content:
            application/json:
              schema: {}
          description: Directory cannot be deleted because it still contains links
            or child directories.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a directory
      tags:
      - Directories
      x-accepts:
      - application/json
    get:
      description: Retrieve a directory by its unique identifier.
      operationId: DirectoriesService_Get
      parameters:
      - description: The ID of the directory to retrieve (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDirectoryResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a directory
      tags:
      - Directories
      x-accepts:
      - application/json
    patch:
      description: Update a directory's name or move it under a different parent directory.
      operationId: DirectoriesService_Update
      parameters:
      - description: The ID of the directory to update (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectoriesServiceUpdateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateDirectoryResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a directory
      tags:
      - Directories
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/events:
    get:
      description: "Retrieves the workspace's event timeline, returning paginated\
        \ JSON by default or CSV payloads for reporting exports. For workspaces on\
        \ the free plan, events older than 2 weeks are restricted, and for light plan\
        \ workspaces, events older than 3 months are restricted."
      operationId: EventsService_ListEvents
      parameters:
      - description: |-
          Filter events to a specific link (optional, UUID)

          Optional
        explode: true
        in: query
        name: linkId
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Inclusive start timestamp for the query window (workspace timezone aware).
          Note: For free plan workspaces, this will be automatically adjusted to not go back more than 2 weeks.
          For light plan workspaces, this will be automatically adjusted to not go back more than 3 months.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Inclusive end timestamp for the query window
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          Desired response format (defaults to RESPONSE_FORMAT_JSON; use RESPONSE_FORMAT_CSV for exports)

           - RESPONSE_FORMAT_UNSPECIFIED: Response format not specified
           - RESPONSE_FORMAT_JSON: Response format JSON
           - RESPONSE_FORMAT_CSV: Response format CSV
        explode: true
        in: query
        name: responseFormat
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Maximum number of events to return (default: 100, max: 1000)

          Maximum number of events to return (default: 100, max: 1000)
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: |-
          Cursor token to retrieve the next page of results

          Cursor token to retrieve the next page of results
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Optional list of relationships to include: visitor, device, link, workspace, leadScore

          Optional list of relationships to include: visitor, device, link, workspace, leadScore
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventsResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List events
      tags:
      - Events
      x-accepts:
      - application/json
  /v1/events/{eventId}/traces:
    get:
      description: "Retrieves all workflow step traces for an event, ordered by completion\
        \ time. Useful for analyzing user engagement and workflow progression."
      operationId: EventsService_ListEventTraces
      parameters:
      - description: Event ID to get traces for (UUID)
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventTracesResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List event traces
      tags:
      - Events
      x-accepts:
      - application/json
  /v1/integrations/{slug}:
    post:
      operationId: IntegrationsService_Track
      parameters:
      - description: The slug identifying the integration being installed
        explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Track notifies when an integration installation is attempted
      tags:
      - IntegrationsService
      x-accepts:
      - application/json
  /v1/links:
    get:
      description: Retrieves the shortened links for your workspace
      operationId: LinksService_List
      parameters:
      - description: The maximum number of links to return.
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |-
          The token for retrieving the next page of results
          If not provided, the first page of results will be returned
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: |-
          List of related resources to include in the response.
          Supported values: "customDomain", "qrcodeDesign", "qrcodeSignedUrl", "tags", "pageTheme".
          Use "qrcodeSignedUrl" to fetch signed QR image URLs—they are omitted by default to keep requests fast.
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Tags to filter links by (matches links containing any of the
          provided tags)
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Search query to filter links by name or shortlink

          Search query to filter links by name or shortlink
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Field to sort links by (defaults to updated_at if not specified)

          Field to sort links by

           - LINK_SORT_FIELD_UNSPECIFIED: Sort field not specified (defaults to updated_at)
           - LINK_SORT_FIELD_CREATED_AT: Sort by creation date
           - LINK_SORT_FIELD_UPDATED_AT: Sort by last update date
           - LINK_SORT_FIELD_SHORTLINK: Sort by shortlink name
           - LINK_SORT_FIELD_NAME: Sort by link name
           - LINK_SORT_FIELD_EVENT_COUNT: Sort by event count
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Sort direction (defaults to descending if not specified)

          Sort direction (ascending or descending)

           - SORT_DIRECTION_UNSPECIFIED: Sort direction not specified (defaults to descending)
           - SORT_DIRECTION_ASC: Sort in ascending order
           - SORT_DIRECTION_DESC: Sort in descending order
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          type: string
        style: form
      - description: |-
          View mode. Default returns all links. LINK_VIEW_DIRECTORY scopes to a directory (or root when directory_id is empty).

           - LINK_VIEW_UNSPECIFIED: Return all links regardless of directory (default)
           - LINK_VIEW_DIRECTORY: Return links scoped to a directory.
          When directory_id is set, returns links in that directory.
          When directory_id is empty, returns root-level links (no directory).
        explode: true
        in: query
        name: view
        required: false
        schema:
          type: string
        style: form
      - description: "Directory ID to scope to when view is LINK_VIEW_DIRECTORY. When\
          \ empty with LINK_VIEW_DIRECTORY, returns root-level links."
        explode: true
        in: query
        name: directoryId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLinksResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List links
      tags:
      - Links
      x-accepts:
      - application/json
    post:
      description: |-
        This endpoint allows users to create a new shortened URL link in their Linkbreakers workspace.
        The URL will be checked for malicious content before being shortened.
      operationId: LinksService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLinkRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateLinkResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create a new link
      tags:
      - Links
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/links/bulk:
    post:
      description: |-
        Creates links in batch using the same per-link options as Create.
        This operation is transactional: if one link fails validation or insertion,
        no links from the batch are created.
      operationId: LinksService_CreateBulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBulkLinksRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBulkLinksResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create multiple links in a single request
      tags:
      - Links
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/links/contact:
    post:
      description: |-
        This endpoint allows users to create a new vCard contact link in their Linkbreakers workspace.
        The link will generate a vCard file for contact information sharing.
      operationId: LinksService_CreateContactLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactLinkRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateContactLinkResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create a new contact card link
      tags:
      - Links
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/links/shortlink-availability:
    get:
      description: |-
        Checks if a shortlink is available for use to create a new link. A custom domain can be provided to check against.
        It typically checks the shortlink slugs and shortlink IDs already present within the system.
      operationId: LinksService_ShortlinkAvailability
      parameters:
      - description: The shortlink to check availability for.
        explode: true
        in: query
        name: shortlink
        required: false
        schema:
          type: string
        style: form
      - description: |-
          The ID of the custom domain to check against (UUID)
          If not provided, checks against the default domain
        explode: true
        in: query
        name: customDomainId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortlinkAvailabilityResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Check shortlink availability
      tags:
      - Links
      x-accepts:
      - application/json
  /v1/links/shortlink-random:
    get:
      description: Generates a random availableshortlink for a new link.
      operationId: LinksService_ShortlinkRandom
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShortlinkRandomResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a random shortlink
      tags:
      - Links
      x-accepts:
      - application/json
  /v1/links/{id}:
    delete:
      description: Removes a shortened link from the workspace. This operation cannot
        be undone.
      operationId: LinksService_Delete
      parameters:
      - description: The ID of the link to delete (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteLinkResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a link
      tags:
      - Links
      x-accepts:
      - application/json
    get:
      description: Retrieves information about a shortened link including its metadata
        and metrics.
      operationId: LinksService_Get
      parameters:
      - description: The ID of the link to retrieve (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          List of related resources to include in the response.
          Supported values: "customDomain", "qrcodeDesign", "qrcodeSignedUrl", "tags", "pageTheme".
          Use "qrcodeSignedUrl" to fetch signed QR image URLs—they are omitted by default to keep requests fast.
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get link details
      tags:
      - Links
      x-accepts:
      - application/json
    patch:
      description: Updates an existing shortened link in your Linkbreakers workspace.
      operationId: LinksService_Update
      parameters:
      - description: The ID of the link to update (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinksServiceUpdateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLinkResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a link
      tags:
      - Links
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/links/{linkId}/lead-score-explanation/{eventId}:
    get:
      description: Generates an AI-powered explanation for a lead score result based
        on event data.
      operationId: LinksService_GetLeadScoreExplanation
      parameters:
      - description: The ID of the link (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the event for which to generate the explanation (UUID)
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLeadScoreExplanationResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get lead score explanation
      tags:
      - Links
      x-accepts:
      - application/json
  /v1/links/{linkId}/workflow-steps:
    get:
      description: Retrieves all workflow steps for a specific link
      operationId: WorkflowStepsService_List
      parameters:
      - description: The ID of the link to list workflow steps for (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      - description: The maximum number of workflow steps to return (optional)
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The token for retrieving the next page of results (optional)
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkflowStepsResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List workflow steps for a link
      tags:
      - Workflow Steps
      x-accepts:
      - application/json
    post:
      description: |-
        This endpoint allows users to create a new workflow step for a link.
        Workflow steps define the behavior of links, such as redirection destinations.
      operationId: WorkflowStepsService_Create
      parameters:
      - description: The ID of the link to create the workflow step for (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowStepsServiceCreateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateWorkflowStepResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create a new workflow step
      tags:
      - Workflow Steps
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/links/{linkId}/workflow-steps/{id}:
    delete:
      description: Removes a workflow step from the link. This operation cannot be
        undone.
      operationId: WorkflowStepsService_Delete
      parameters:
      - description: The ID of the link (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the workflow step to delete (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWorkflowStepResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a workflow step
      tags:
      - Workflow Steps
      x-accepts:
      - application/json
    get:
      description: Retrieves information about a specific workflow step.
      operationId: WorkflowStepsService_Get
      parameters:
      - description: The ID of the link (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the workflow step to retrieve (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWorkflowStepResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get workflow step details
      tags:
      - Workflow Steps
      x-accepts:
      - application/json
    patch:
      description: Updates an existing workflow step for a link.
      operationId: WorkflowStepsService_Update
      parameters:
      - description: The ID of the link (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the workflow step to update (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowStepsServiceUpdateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateWorkflowStepResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a workflow step
      tags:
      - Workflow Steps
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/links/{linkId}/workflow-steps/{parentStepId}/relationships:
    post:
      description: |-
        Creates a parent-child relationship between two workflow steps.

        IMPORTANT: This endpoint cannot be used to create connections FROM composite nodes
        (forms, multi-links, conditions). Composite nodes manage their own routing through
        their payload structure (e.g., button.next_step_id, option.next_step_id).

        Connections TO composite nodes are allowed.
        Only atomic nodes (redirects, passwords, etc.) can use this endpoint as the parent.
      operationId: WorkflowStepsService_AddRelationship
      parameters:
      - description: The ID of the link (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the parent workflow step (UUID)
        explode: false
        in: path
        name: parentStepId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowStepsServiceAddRelationshipBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddWorkflowStepRelationshipResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Add relationship between workflow steps
      tags:
      - Workflow Steps
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/links/{linkId}/workflow-steps/{parentStepId}/relationships/{childStepId}:
    delete:
      description: Removes a parent-child relationship between two workflow steps.
      operationId: WorkflowStepsService_RemoveRelationship
      parameters:
      - description: The ID of the link (UUID)
        explode: false
        in: path
        name: linkId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the parent workflow step (UUID)
        explode: false
        in: path
        name: parentStepId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the child workflow step (UUID)
        explode: false
        in: path
        name: childStepId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveWorkflowStepRelationshipResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Remove relationship between workflow steps
      tags:
      - Workflow Steps
      x-accepts:
      - application/json
  /v1/media:
    get:
      description: Retrieves the media files for your workspace
      operationId: MediaService_List
      parameters:
      - description: The maximum number of media files to return.
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |-
          The token for retrieving the next page of results
          If not provided, the first page of results will be returned
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMediaResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List media files
      tags:
      - Media
      x-accepts:
      - application/json
    post:
      description: |-
        This endpoint allows users to upload a new media file to their Linkbreakers workspace.
        For now the file size limit is 3MB.
        Example: Uploading an image to be placed in the center of a QR Code.
      operationId: MediaService_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMediaRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateMediaResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Upload a media file
      tags:
      - Media
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/media/{id}:
    delete:
      description: Removes a media file from the workspace. This operation cannot
        be undone.
      operationId: MediaService_Delete
      parameters:
      - description: The ID of the media file to delete (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteMediaResponse"
          description: Everything worked as expected.
        "204":
          content:
            application/json:
              schema: {}
          description: Media file deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a media file
      tags:
      - Media
      x-accepts:
      - application/json
    get:
      description: |-
        Retrieves information about a media file including its metadata and URL.
        Example: Getting details for media with ID "med_123".
      operationId: MediaService_Get
      parameters:
      - description: The ID of the media file to retrieve (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMediaResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get media file details
      tags:
      - Media
      x-accepts:
      - application/json
  /v1/member:
    get:
      description: Return the member information associated with the authenticated
        caller.
      operationId: MembersService_GetMyself
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get the current member
      tags:
      - Members
      x-accepts:
      - application/json
    put:
      description: Let the signed-in member update their own profile or credentials.
      operationId: MembersService_UpdateMyself
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update the current member
      tags:
      - Members
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/members:
    get:
      description: Retrieve a paginated list of members in the current workspace.
      operationId: MembersService_List
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListResponse"
          description: Everything worked as expected.
        "201":
          content:
            application/json:
              schema: {}
          description: Members listed successfully
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List members
      tags:
      - Members
      x-accepts:
      - application/json
  /v1/members/invite:
    post:
      description: Create a pending member and dispatch an invitation email.
      operationId: MembersService_Invite
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteMemberRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        "201":
          content:
            application/json:
              schema: {}
          description: Member invited successfully
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Invite a new member
      tags:
      - Members
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/members/{id}:
    delete:
      description: Permanently remove a member from the workspace roster.
      operationId: MembersService_Delete
      parameters:
      - description: Member identifier (UUID) to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a member
      tags:
      - Members
      x-accepts:
      - application/json
    get:
      description: Fetch a single workspace member by the provided identifier.
      operationId: MembersService_Get
      parameters:
      - description: Member identifier (UUID) to retrieve
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a member by ID
      tags:
      - Members
      x-accepts:
      - application/json
    put:
      description: Modify profile details or role assignments for an existing member.
      operationId: MembersService_Update
      parameters:
      - description: Member identifier (UUID) to update
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MembersServiceUpdateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a member
      tags:
      - Members
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/members/{id}/allow:
    post:
      description: Restore workspace access for a previously suspended member.
      operationId: MembersService_AllowAccess
      parameters:
      - description: Member identifier (UUID) whose access should be restored
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MembersServiceAllowAccessBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Allow access for a member
      tags:
      - Members
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/members/{id}/revoke:
    post:
      description: Suspend a member's access without removing their account.
      operationId: MembersService_RevokeAccess
      parameters:
      - description: Member identifier (UUID) whose access should be suspended
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MembersServiceRevokeAccessBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Revoke access for a member
      tags:
      - Members
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/members/{id}/signout:
    post:
      description: Terminate all active sessions for the specified member.
      operationId: MembersService_ForceSignout
      parameters:
      - description: Member identifier (UUID) to sign out of all sessions
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MembersServiceForceSignoutBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Force a member to sign out
      tags:
      - Members
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/metrics/events:
    get:
      description: Retrieve aggregated event analytics for the provided time window
        and optional link filter.
      operationId: MetricsService_GetEventsMetric
      parameters:
      - description: Inclusive start timestamp for the aggregation
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Inclusive end timestamp for the aggregation
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |-
          Optional link filter (UUID); when omitted aggregates workspace-wide

          UUID format
        explode: true
        in: query
        name: linkId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventsMetric"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get events metric
      tags:
      - Workspace Metrics
      x-accepts:
      - application/json
  /v1/metrics/workspace:
    get:
      description: "Return high-level workspace totals covering members, links, and\
        \ activity volume."
      operationId: MetricsService_GetWorkspaceMetric
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceMetric"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get workspace metric
      tags:
      - Workspace Metrics
      x-accepts:
      - application/json
  /v1/metrics/workspace/insight:
    get:
      description: Return workspace usage insights including the preferred link type
        based on historical link creation patterns.
      operationId: MetricsService_GetWorkspaceInsight
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceInsight"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get workspace insight
      tags:
      - Workspace Metrics
      x-accepts:
      - application/json
  /v1/page-themes:
    get:
      description: Retrieves all page themes belonging to the caller's workspace.
      operationId: PageThemesService_ListPageThemes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPageThemesResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List page themes for the current workspace
      tags:
      - Page Themes
      x-accepts:
      - application/json
  /v1/page-themes/{id}:
    get:
      description: Retrieves a specific page theme by ID.
      operationId: PageThemesService_GetPageTheme
      parameters:
      - description: Page theme ID to retrieve
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageThemeResponse"
          description: Everything worked as expected.
        "404":
          content:
            application/json:
              schema: {}
          description: The requested resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a page theme
      tags:
      - Page Themes
      x-accepts:
      - application/json
    patch:
      description: Updates an existing page theme. Cannot update page themes that
        are currently attached to links.
      operationId: PageThemesService_UpdatePageTheme
      parameters:
      - description: Page theme ID to update
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PageThemesServiceUpdatePageThemeBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePageThemeResponse"
          description: Everything worked as expected.
        "400":
          content:
            application/json:
              schema: {}
          description: "The request was unacceptable, often due to missing a required\
            \ parameter."
        "404":
          content:
            application/json:
              schema: {}
          description: The requested resource doesn't exist.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a page theme
      tags:
      - Page Themes
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/public/qrcode-designs:
    post:
      description: Provision a QR code styling preset that can be reused across links
        or templates.
      operationId: QrcodeDesignService_PublicCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicCreateQrcodeDesignRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCreateQrcodeDesignResponse"
          description: Everything worked as expected.
        "201":
          content:
            application/json:
              schema: {}
          description: QR code design created successfully
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create a new QR code design
      tags:
      - QR Code Designs
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/public/qrcode-templates:
    get:
      description: "Retrieve available QR code templates, optionally filtered by search\
        \ terms or link destination."
      operationId: QrcodeTemplatesService_PublicListQrcodeTemplates
      parameters:
      - description: |-
          Related objects to include in the response

          List of related objects to include. Supported values: 'workspace'
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Search query applied to template name/description
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Maximum number of templates to return (defaults to 20)
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Cursor token to retrieve the next page of results
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Optional workspace ID to filter templates by workspace

          Filter public templates by workspace. Only published templates for that workspace will be returned.
        explode: true
        in: query
        name: workspaceId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicListQrcodeTemplatesResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List QR code templates
      tags:
      - QR Code Templates
      x-accepts:
      - application/json
  /v1/public/qrcode-templates/{slug}:
    get:
      description: Retrieve a single published QR code template that is visible in
        the public gallery.
      operationId: QrcodeTemplatesService_PublicGetQrcodeTemplate
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Related objects to include in the response

          List of related objects to include. Supported values: 'workspace'
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicQrcodeTemplate"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a public QR code template
      tags:
      - QR Code Templates
      x-accepts:
      - application/json
  /v1/public/workspaces/{slug}:
    get:
      description: Retrieve public information about a workspace that has been published.
      operationId: WorkspacesService_PublicGetWorkspace
      parameters:
      - description: Workspace slug to retrieve
        explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicWorkspace"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a public workspace by slug
      tags:
      - Workspaces
      x-accepts:
      - application/json
  /v1/qrcode-designs/{id}:
    delete:
      description: Remove a QR code design that is no longer in use by any assets.
      operationId: QrcodeDesignService_Delete
      parameters:
      - description: The ID of the QR code design to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteQrcodeDesignResponse"
          description: Everything worked as expected.
        "204":
          content:
            application/json:
              schema: {}
          description: QR code design deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a QR code design
      tags:
      - QR Code Designs
      x-accepts:
      - application/json
    get:
      description: Fetch a QR code design by its identifier including computed metadata.
      operationId: QrcodeDesignService_Get
      parameters:
      - description: The ID of the QR code design to get (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetQrcodeDesignResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a QR code design
      tags:
      - QR Code Designs
      x-accepts:
      - application/json
    patch:
      description: Apply styling tweaks or media changes to an existing QR code design.
      operationId: QrcodeDesignService_Update
      parameters:
      - description: The ID of the QR code design to update (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QrcodeDesignServiceUpdateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateQrcodeDesignResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a QR code design
      tags:
      - QR Code Designs
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/qrcode-templates:
    get:
      description: Retrieve QR code templates that belong to the authenticated caller's
        workspace.
      operationId: QrcodeTemplatesService_ListQrcodeTemplates
      parameters:
      - explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListQrcodeTemplatesResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List my QR code templates
      tags:
      - QR Code Templates
      x-accepts:
      - application/json
    post:
      description: Create a new QR code template using a fresh design. The design
        must not be used by any other links or templates.
      operationId: QrcodeTemplatesService_CreateQrcodeTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateQrcodeTemplateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateQrcodeTemplateResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Create a new QR code template
      tags:
      - QR Code Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/qrcode-templates/import:
    post:
      description: Import a public QR code template into your workspace by slug. Creates
        a private copy owned by your workspace.
      operationId: QrcodeTemplatesService_ImportQrcodeTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportQrcodeTemplateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportQrcodeTemplateResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Import a public QR code template
      tags:
      - QR Code Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/qrcode-templates/{id}:
    delete:
      description: Remove a QR code template belonging to the authenticated caller's
        workspace.
      operationId: QrcodeTemplatesService_DeleteQrcodeTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteQrcodeTemplateResponse"
          description: Everything worked as expected.
        "204":
          content:
            application/json:
              schema: {}
          description: QR code template deleted successfully
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a workspace QR code template
      tags:
      - QR Code Templates
      x-accepts:
      - application/json
    get:
      description: Retrieve a QR code template that belongs to the authenticated caller's
        workspace.
      operationId: QrcodeTemplatesService_GetQrcodeTemplate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QrcodeTemplate"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a workspace QR code template
      tags:
      - QR Code Templates
      x-accepts:
      - application/json
    patch:
      description: Modify the name or description of a QR code template owned by the
        authenticated workspace.
      operationId: QrcodeTemplatesService_UpdateQrcodeTemplate
      parameters:
      - description: The ID of the QR code template to update (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QrcodeTemplatesServiceUpdateQrcodeTemplateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateQrcodeTemplateResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a workspace QR code template
      tags:
      - QR Code Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/qrcode-templates/{id}/publish:
    post:
      description: "Publish a QR code template to make it available in the public\
        \ gallery. Requires workspace to be public and template to have slug, description,\
        \ and name."
      operationId: QrcodeTemplatesService_PublishQrcodeTemplate
      parameters:
      - description: The ID of the QR code template to publish (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QrcodeTemplatesServicePublishQrcodeTemplateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishQrcodeTemplateResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Publish a workspace QR code template
      tags:
      - QR Code Templates
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/settings/link-setting/{id}:
    get:
      description: Retrieve the current visitor data collection configuration for
        a link.
      operationId: SettingsService_GetLinkSetting
      parameters:
      - description: Identifier of the link setting profile (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLinkSettingResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a link setting
      tags:
      - Link Settings
      x-accepts:
      - application/json
    put:
      description: Adjust the data collection policy associated with a specific link.
      operationId: SettingsService_UpdateLinkSetting
      parameters:
      - description: The ID of the link setting to update (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SettingsServiceUpdateLinkSettingBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLinkSettingResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a link setting
      tags:
      - Link Settings
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/tags:
    delete:
      description: Remove a tag by name so it no longer appears for links or analytics
        filters.
      operationId: TagsService_Delete
      parameters:
      - description: Tag name to remove (must exactly match an existing tag within
          the workspace)
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTagResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete tags
      tags:
      - Tags
      x-accepts:
      - application/json
    get:
      description: Search workspace tags by name and paginate through matching results.
      operationId: TagsService_List
      parameters:
      - description: The search query to filter tags by name
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of tags to return
        explode: true
        in: query
        name: pageSize
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |-
          The token for retrieving the next page of results
          If not provided, the first page of results will be returned
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTagsResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List tags
      tags:
      - Tags
      x-accepts:
      - application/json
  /v1/timeseries/events:
    post:
      operationId: TimeSeriesService_GetEventsTimeSeries
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetEventsTimeSeriesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEventsTimeSeriesResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get events time series
      tags:
      - Time Series
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/visitor/devices/{id}/update: {}
  /v1/visitor/identify:
    post:
      description: Finds or creates a visitor profile from an LBID and merges the
        provided system fields and attributes.
      operationId: VisitorsService_Identify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentifyResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Identify visitor
      tags:
      - Visitors
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/visitors:
    get:
      description: "Returns a paginated collection of visitors with optional filters,\
        \ includes, and CSV export."
      operationId: VisitorsService_List
      parameters:
      - description: "Maximum number of visitors to return (default 50, max 200)"
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Cursor token to retrieve the next page of results
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: optional exact match filter
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: optional fuzzy search across known fields
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: optional filter by link ID (UUID; visitors who have interacted
          with this link)
        explode: true
        in: query
        name: linkId
        required: false
        schema:
          type: string
        style: form
      - description: |2-
           - RESPONSE_FORMAT_UNSPECIFIED: Response format not specified
           - RESPONSE_FORMAT_JSON: Response format JSON
           - RESPONSE_FORMAT_CSV: Response format CSV
        explode: true
        in: query
        name: responseFormat
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVisitorsResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List visitors
      tags:
      - Visitors
      x-accepts:
      - application/json
  /v1/visitors/attributes:
    get:
      description: Returns the distinct visitor attribute keys available in the workspace
        or scoped to a single link.
      operationId: VisitorsService_ListAttributeKeys
      parameters:
      - description: "Optional link identifier (UUID). When set, returns keys observed\
          \ on visitors who interacted with this link."
        explode: true
        in: query
        name: linkId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVisitorAttributeKeysResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: List visitor attribute keys
      tags:
      - Visitors
      x-accepts:
      - application/json
  /v1/visitors/{id}:
    delete:
      description: Removes a visitor profile and its stored attributes from the workspace.
      operationId: VisitorsService_Delete
      parameters:
      - description: Visitor identifier to remove (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteVisitorResponse"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Delete a visitor
      tags:
      - Visitors
      x-accepts:
      - application/json
    get:
      description: "Retrieves a visitor profile by ID with optional devices, events,\
        \ or links included."
      operationId: VisitorsService_Get
      parameters:
      - description: Visitor identifier (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Optional relationships to hydrate (\"devices\", \"events\",\
          \ \"links\")"
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Visitor"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Get a visitor
      tags:
      - Visitors
      x-accepts:
      - application/json
    patch:
      description: Applies partial attribute updates to an existing visitor profile.
      operationId: VisitorsService_Update
      parameters:
      - description: Visitor identifier (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisitorsServiceUpdateBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Visitor"
          description: Everything worked as expected.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unexpected error
      security:
      - bearerAuth: []
      summary: Update a visitor
      tags:
      - Visitors
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/visitors/{id}/attributes/{attributeKey}:
    delete:
      description: Deletes a single attribute from the visitor profile without affecting
        other data.
      operationId: VisitorsService_DeleteAttribute
      parameters:
      - description: Visitor identifier whose attribute should be removed (UUID)
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Attribute key to delete (without "$" prefix)
        explode: false
        in: path
        name: attributeKey
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAttributeResponse"
          description: Everything worked as expected.
        default:
          content:
[...]
